body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
}

footer {
  background: lightgrey;
  padding: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
  margin-top: 40px;
}

button {
  padding: 10px;
  background: lightblue;
  border: 3px solid rgba(119, 203, 255, 1);
  border-radius: 3px;
  cursor: pointer;
  transition: translate 0.2s ease-out 0s;
  transition-property: translate, box-shadow;
}

button:hover {
  box-shadow: 0px 0px 5px rgba(28, 141, 255, 0.5) inset;
  translate: scale(1.1, 1.1);
}

.cont li, .embeddedPopup li {
  word-wrap: break-word;
  font-size: 14px;
  background: rgba(201, 255, 221, 0.7);
  border: 4px solid rgba(201, 255, 221, 1);
  padding: 7px;
  margin: 5px;
  margin-right: 7px;
  list-style: none;
  transition: transform 0.2s ease 0s;
  cursor: pointer;
}

.cont li:hover {
  transform: scale(1.1, 1.1);
  background: rgba(201, 255, 221, 1);
  border: 4px solid rgba(66, 223, 255, 0.7);
}

.addedList {
  width: 100%;
}

.addedList tr td {
  background: rgba(255, 147, 147, 0.1);
  border: 2px solid rgba(255, 147, 147, 0.3);
  padding: 5px;
  text-align: center;
}

.addedList tr th {
  background: rgba(255, 147, 147, 0.5);
  border: 2px solid rgba(255, 147, 147, 0.8);
  padding: 5px;
  text-align: center;
  margin: 0;
}

.removeButton {
  background: rgba(255, 147, 147, 0.5);
  border: 2px solid rgba(255, 147, 147, 0.5);
  cursor: pointer;
}

.removeButton:hover {
  border: 2px solid rgba(255, 147, 147, 0.8);
}

.head {
  background: rgba(221, 221, 221, 1);
  box-shadow: 0px 0px 20px grey inset;
  height: 170px;
}

.body {
  margin-top: 10px;
  padding: 10px;
}

.headtext {
  color: grey;
  top: 20px;
  text-align: center;
}

#ffcsText {
  font-size: 60px;
  font-family: 'Titillium Web', sans-serif;
}

#redefText {
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
}

.jumpCourses {
  position: fixed;
  top: 50%;
  right: 10px;
  opacity: 0.5;
  text-decoration: none;
  padding: 10px;
  background: #8ce0ff;
  color: black;
  border-radius: 8px;
  z-index: 10;
  transition: opacity 0.3s ease-out 0s;
  color: black;
}

.jumpCourses:hover {
  color: black;
  text-decoration: none;
  opacity: 1;
}

.typeText {
  padding: 10px;
}

#input {
  padding: 10px;
}

.text-label {
  padding-left: 30px;
}

label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

label .customButton {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  cursor: pointer;
  transition: border 0.2s ease-out 0s;
  transition-property: border, background-color;
}

label .customButton:hover {
  background-color: #ccc;
}

label input:checked~.customButton {
  border: 6px solid #006bc1;
  background-color: #2196F3;
}

.customButton:after {
  content: "";
  position: absolute;
  display: none;
}

label input:checked~.customButton:after {
  display: block;
}

/*     Time Table Css   */

.timeTable {
  background: rgba(124, 124, 255, 0.5);
  margin: 10px;
}

.timeTable tr td {
  font-size: 15px;
  text-align: center;
  padding: 6px;
  border-left: 1px solid rgba(97, 97, 204, 0.2);
  max-width: 50%;
}

.timeTable .addingDone div:nth-child(2) {
  font-size: 12px;
  word-wrap: break-word;
  text-align: center;
}

.timeTable tr {
  border-bottom: 1px solid rgba(97, 97, 204, 0.2);
}

.timeTable .darkenBottomBorder {
  border-bottom: 3px solid rgba(97, 97, 204, 1);
}

.timeTable .darkenRightBorder {
  border-right: 3px solid rgba(97, 97, 204, 1);
}

.timeTable .tableLabel {
  background: rgba(124, 124, 255, 0.9);
  font-weight: bold;
}

.timeTable .tableLabel2 {
  background: rgba(122, 180, 255, 0.9);
  font-weight: bold;
}

.timeTable .darkenWeekLine {
  border-bottom: 1px solid rgba(97, 97, 204, 0.8);
}

.timeTable .addingDone {
  background: rgba(153, 69, 183, 0.4);
  font-weight: bold;
  border: 3px solid rgba(153, 69, 183, 0.7)
}

/*Embedded Course popup*/

.embeddedPopupContainer {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.embeddedPopup {
  position: relative;
  top: 30%;
  left: 20%;
}

.embeddedPopup li {
  display: inline-block;
  background: skyblue;
  border: 3px solid rgba(0, 109, 168, 0.5);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
  transition-property: background-color;
}

.embeddedPopup li:hover {
  background: rgba(0, 119, 178, 1);
}

.embeddedPopupContainer button {
  position: absolute;
  right: 0;
  margin: 20px;
  border: grey;
  background: rgba(0, 0, 0, 0.5);
  color: lightgrey;
}

.embeddedPopupText {
  padding: 10px;
  position: absolute;
  left: 40%;
  top: 30px;
  background: grey;
  border-radius: 4px;
}

.searchByText {
  margin-bottom: 10px;
  font-weight: bold;
}

.ui-menu-item {
  color: grey;
}

.ui-menu {
  max-height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.doneContainer, .removeContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  padding: 100px;
  transition: transform 1s;
}

.doneContainer img, .removeContainer img {
  width: 150px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.totalCredits {
  font-weight: bold;
  background: rgba(255, 201, 122, 0.7);
  border: 1px solid rgba(255, 201, 122, 1);
  margin: 20px;
  margin-left: 30px;
  padding: 15px;
}

.clashingText {
  display: none;
  font-size: 20px;
  font-family: verdana,sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 50, 0, 0.4);
}
.clashingText button{
  background: rgba(255, 50, 0, 0.7);
  border: 3px solid rgba(255,50,0,1);
}

.clashBlink {
  border: 3px solid rgba(255, 50, 0, 1) !important;
  animation-name: blink !important;
  animation-duration: 2s !important;
  animation-timing-function: ease !important;
  animation-delay: 0s !important;
  animation-iteration-count: infinite !important;
}
.clashBlinkPreview{
    border: 3px solid rgba(255, 185, 124, 1) !important;
    animation-name: blinkPreview !important;
    animation-duration: 2s !important;
    animation-timing-function: ease !important;
    animation-delay: 0s !important;
    animation-iteration-count: infinite !important;
  }

@keyframes blink {
  0% {
    background-color: rgba(255, 50, 0, 0.3);
  }
  50% {
    background-color: rgba(255, 50, 0, 0.7);
  }
  100% {
    background-color: rgba(255, 50, 0, 0.3);
  }
}@keyframes blinkPreview {
  0% {
    background-color: rgba(255, 232, 153, 0.7);
  }
  50% {
    background-color: rgba(255, 232, 153, 0.3);
  }
  100% {
    background-color: rgba(255, 232, 153, 0.7);
  }
}
#loadTimetableButton{
  width:200px;
  height: 70px;
  font-weight: bold;
  border: 1px solid #118fff;
  background: #96cdff;
  transition-property: transform, font-size;
  transition-delay: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
#loadTimetableButton:hover{
  transform: scale(0.95,0.95);
  font-size: 18px;
}
.loadtableContainer{
  background: linear-gradient(to bottom, rgba(43,156,255,1) 0%, rgba(43,156,255,1) 27%, rgba(117,191,255,1) 27%, rgba(117,191,255,1) 100%);
  border-radius: 5px;
  border: 2px solid #2b9bff;
  padding: 10px;
}
.loadtableContainer label{
  margin-bottom: 20px;
  display: block;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.loadtableContainer input{
  padding: 10px;
  background: lightblue;
  border: 3px solid rgba(119, 203, 255, 1);
  border-radius: 3px;
}
.clearbutton{
    font-weight: bold;
    background: rgba(255, 201, 122, 1);
    border: 1px solid #ffb954;
    margin: 20px;
    padding: 15px;
    cursor: pointer;
}
.text-label{
  font-size: 17px;
}
.ffcsRedefined{
  padding: 20px;
  background: rgba(44, 84, 127,0.3);
  font-size: 20px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ffcsRedefinedToggle{
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}
.ffcsRedefinedToggle:hover{
  color: darkblue;
}
.addedCoursesCont{
  background:#b2beff;
  border: 2px solid #8497ff;
}
.ffcsRedefined .text-label{
  font-size: 20px;
  font-weight: bold;
}
.ffcsRedefined input{
  padding:15px;
}
.ffcsRedefined img{
  width: 40px;
  height: 20px;
  transition: transform 0.6s ease 0s;
  opacity: 0.4;
}
.ffcsRedefined img:hover{
  opacity: 0.8;
}
.ffcsRedefined ul{
  padding: 7px;
}
.ffcsRedefined ul li{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 3px;
  list-style-type: none;
  padding:2px;
  text-align: center;
  background: #8497ff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease 0s;
}
.ffcsRedefined ul li:hover{
  background-color:#ff6060;
}
.rotateImg{
  transform: rotate(180deg);
}
.ffcsSubmitButton{
  border:none;
  background:#6875ff;
  color:#e2e5ff;
  font-weight: bold;
  margin-top:30px;
}
hr {
  border: 1;
  margin-bottom: 20px;
  background-color:grey;
  height: 1px;
}
.text{
  text-align: center;
  font-weight: bold;
}
